@import 'vars'

.button
  border: 1px solid $primary-color
  background: rgba(0,0,0,0.6)
  color: #e5ebed
  display: inline-block
  user-select: none
  cursor: pointer
  padding: $margin1 $margin2
  border-radius: 2px
  transition: all .1s ease-in-out
  margin: $margin1
  letter-spacing: 1.2px
  text-transform: uppercase
  font-size: 14px
  font-weight: 600
  
  &:hover:enabled
    background: $primary-color

  &:disabled
    opacity: .3
    cursor: default