@import 'vars'

.header
  position: absolute
  z-index: 200
  top: 0
  left: 0
  height: 100%
  width: 100%
  pointer-events: none

  a
    color: #D9E9EF
    margin: 8px
    text-decoration: none
    cursor: pointer
    user-select: none

  .links-container
    position: absolute
    display: flex
    align-items: center
    z-index: 200
    width: 100%
    height: 100%
    pointer-events: none

    > div
      pointer-events: all

    .nav-icon
      position: absolute
      top: 0
      right: 0
      background: rgba(0, 0, 0, 0.4)
      border-radius: 1px
      margin: 6px
      cursor: pointer
      padding: 7px 18px
      font-size: 24px
      color: #fff

      &--fullscreen
        bottom: auto
        right: 0px

      svg
        display: block

  .dices-container
    display: flex
    justify-content: space-around
    margin: 8px
    margin-top: 40px

    .dice
      position: relative
      width: 64px
      height: 64px
      border-radius: 3px
      cursor: pointer
      &.selected
        border: 1px solid #000;
        box-shadow: 0px 0px 3px 5px #fff;

      &__spot
        position: absolute
        width: 10px
        height: 10px
        border-radius: 50%
        background: #000
        transform: translate(-50%,-50%)

      &__spot:nth-child(1)
        top: 25%
        left: 25%

      &__spot:nth-child(2)
        top: 50%
        left: 25%

      &__spot:nth-child(3)
        top: 25%
        left: 75%

      &__spot:nth-child(4)
        top: 75%
        left: 25%

      &__spot:nth-child(5)
        top: 50%
        left: 75%

      &__spot:nth-child(6)
        top: 75%
        left: 75%

  .menu-container
    position: absolute
    z-index: 100
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,.8)
    pointer-events: none
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    opacity: 0
    transition: .2s all ease-in-out
    .menu
      width: 400px
      display: flex
      flex-direction: column
      text-align: center
      a
        position: relative
        transition: .2s all linear
        top: -200px
        opacity: 0
        font-size: 22px
        &:nth-child(2)
          transition-delay: .05s
        &:nth-child(3)
          transition-delay: .1s
        &:nth-child(4)
          transition-delay: .15s
        &:nth-child(5)
          transition-delay: .2s
        &:nth-child(6)
          transition-delay: .25s
        &:nth-child(7)
          transition-delay: .3s
        &:nth-child(8)
          transition-delay: .35s

  &--open
    pointer-events: all
    .menu-container
      pointer-events: all
      opacity: 1
      .menu a
        top: 0
        opacity: 1

  .profile
    margin: 10px
    cursor: pointer

.inGame .header
  .profile
    display: none

.portrait
  .header
    .links-container
      .nav-icon--fullscreen
          right: 66px