@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Slab')
@import 'vars'

*
  box-sizing: border-box

body
  background: #243B55
  padding-top: 51px
  background-image: linear-gradient(180deg, #243b55, #141e30)

body, html
  width: 100%
  height: 100%
  margin: 0
  font-family: 'Roboto', sans-serif
  color: #fff

  h1, h2
    font-weight: 100
    text-transform: uppercase

  h1, h2, h3, h4, h5, h6
    font-family: 'Roboto', serif
    letter-spacing: 2px
    margin: $margin2 0

  p
    margin: $margin1 0

.arrow
  border: solid #fff
  border-width: 0 3px 3px 0
  display: inline-block
  padding: 3px
  margin: 0
  transform: translateY(-50%) rotate(135deg)

@keyframes shortenWidth
  from
    width: 100%
  to
    width: 0%