.profile
  position: relative
  display: flex
  align-items: center

  .avatar
    position: absolute
    z-index: 10
    width: 35px
    height: 35px

  .name
    position: absolute
    z-index: 5
    left: 29px
    padding: 2px 12px
    background: rgba(0, 0, 0, 0.4)
    color: white
    border: 1px solid rgba(255, 255, 255, 0.31)
    box-shadow: inset 0px 0px 17px rgba(255, 255, 255, 0.23)
    border-top-left-radius: 4px
    border-bottom-left-radius: 4px